@media (min-width: 768px) and (max-width: 992px){

    body{
        background-color: #ffffff;
    }

    header{
        height: 65px;
    }

    header > h1{
        margin-top: 15px;
    }

    #burguer{
        display: none;
    }

    #rowh{
        display: none;
    }

    #rowheader{
        margin-top: 30px;
    }

    menu{
        display: block;
    }

    menu > ul{
        display: inline-flex;
        float: right;
        margin-top: -73px;
    }

    #home{
        height: 60vh;
    }

    #home > h1{
        padding-top: 150px;
        font-size: 3em;
    }

    #home > p{
        font-size: 1.5em;
    }

    #about h2{
        margin-top: 10px;
    }

    #about p{
        font-size: 1.2em;
    }

    #about div a{
        width: 25%;
    }

    #about > picture > img{    
        height: 60%;
    }

    #tec{
        max-width: 800px;
    }

    #tec > div{
        margin: 40px;
    }

    #tec > #js{
        width: 22%;
    }
    
    #tec > #html{
        width: 22%;
    }
    
    #tec > #css{
        width: 22%;
    }
    

    #sobre > a{
        max-width: 540px;
    }
    
    #portfolio > figure{
        width: 60%;
    }

    #portfolio > div > #imc{
        width: 60%;
        text-align: center;
        margin-left: 20.3%;
    }

    #portfolio > div > #linkimc{
        left: -4.9%;
        width: 52.3%;
        margin-left: 28.5%;
        margin-bottom: 20px;
        margin-top: -55px;
    }

    #projetos{
        padding-top: 30px;
    }

    footer{
        height: 40vh;
    }

}
    @media (min-width: 992px) and (max-width: 2685px){

    header{
        height: 65px;
    }

    header h1{
        margin-top: 15px;
        padding: 0px;
    }

    #burguer{
        display: none;
    }

    #rowh{
        display: none;
    }

    #rowheader{
        margin-top: 28px;
    }

    menu{
        display: block;
    }

    menu > ul{
        display: inline-flex;
        float: right;
        margin-top: -80px;
        padding: 10px;
    }

    header > h1{
        margin-top: 20px;
        margin-left: 30px;
        font-size: 1.3em;
    }

    menu > a{
        font-size: 1.2em;
        padding: 10px;
    }

    #home{
        max-width: 100%;
        padding-top: 10em;
        height: 55vh;
    }

    #home > h1{
        padding-top: 30px;
        font-size: 3.3em;
    }

    #about{
        padding: 20px;
        padding-bottom: 50px;
    }

    #about h2{
        margin-top: 10px;
        font-size: 2.2em;
    }

    #about .pc{
        text-align: center;
        font-size: 1.2em;
    }

    #about div a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        margin-left: 38%;
    }

    #about > picture > img{
       display: none;
    }

    #tec > h2{
        font-size: 2.8em;
        margin-top: 30px;
        padding-bottom: 20px;
    }

    #tec > div{
        margin-bottom: 50px;
    }

    #tec > #js{
        width: 40%;
    }
    
    #tec > #html{
        width: 40%;
    }
    
    #tec > #css{
        margin-top: -10px;
        width: 40%;
    }

    #portfolio{
        text-align: center;
        margin-left: 5%;
    }

    #portfolio > figure{
        width: 30%;
        display: inline-block;
        margin-right: 50px;    
    }

    #portfolio h2{
        font-size: 2.8em;
        padding-bottom: 40px;
    }

    footer{
        margin-top: 100px;
        height: 35vh;
    }
}