
@media screen and (min-width: 768px) and (max-width: 992px){

    body{
        background-color: #ffffff;
    }

    header{
        height: 57px;
    }

    header > h1{
        margin-left: 20px;
    }

    #burguer{
        display: none;
    }

    #rowh{
        margin-top: 0px;
    }

    menu{
        display: block;
        margin-top: -54px;
    }

    menu > ul > li > a{
        display: inline;
        float: right;
        
    }

    #homel{
        margin-top: 0px;
        margin-right: 00px ;
    }

    #tecl{
        margin-top: -0.1px;
        margin-right: 300px;
    }

    #sobrel{
        margin-top: -67px;
        margin-right: 360px;
    }

    #projetosl{
        margin-top: -103px;
        margin-right: 240px;
    }

    #contatol{
        margin-top: -121px;
        margin-right: 120px;
    }

    .home > h1{
        padding-top: 100px;
        font-size: 3em;
    }

    .home > p{
        font-size: 1.5em;
    }

    main h2{
        margin-top: 10px;
    }

    main p{
        font-size: 1.2em;
    }

    #tec{
        max-width: 800px;
    }

    #tec > div{
        margin: 40px;
    }

    #tec > #js{
        width: 22%;
    }
    
    #tec > #html{
        width: 22%;
    }
    
    #tec > #css{
        width: 22%;
    }
    
    #sobre > picture > img{    
        width: 70% ;
        height: 60%;
    }

    #sobre > a{
        max-width: 540px;
    }
    
    #portfolio > figure{
        width: 60%;
        max-width: 800px;
    }

    #imc{
        width: 60%;
        margin-left: 200px;
    }

    #portfolio > div > #imc{
        width: 60%;
        max-width: 800px;
        text-align: center;
        margin-left: 170px;
    }

    #portfolio > div > #linkimc{
        left: -4.9%;
        align-items: center;
        justify-content: center;
        font-family: 'poppins', sans-serif;
        width: 52.3%;
        padding: 15px;
        margin-left: 233px;
        margin-bottom: 20px;
        margin-top: -55px;
        text-decoration: none;
        background-color: rgb(11, 57, 104);
        color: #ffffff;
        border-radius: 0px 0px 10px 10px;
    }

    #projetos{
        padding-top: 30px;
    }

    footer{
        margin-top: 20px;
    }

    #linkscont a{
        width: 40%;
        margin-top: 20px;
        margin-left: 30%;
    }
}
    @media screen and (min-width: 992px) and (max-width: 1920px){

    header{
        height: 65px;
    }

    #burguer{
        display: none;
    }

    #rowh{
        margin: 100px;
    }

    menu{
        display: block;
    }

    
    menu > ul > li > a{
        display: inline;
        float: right;
        margin-top: -50px;
    }

    #homel{
        margin-right: 600px;
    }

    #tecl{
        margin-top: -86px;
        margin-right: 460px;
    }

    #sobrel{
        margin-top: -67px;
        margin-right: 360px;
    }

    #projetosl{
        margin-top: -103px;
        margin-right: 240px;
    }

    #contatol{
        margin-top: -121px;
        margin-right: 120px;
    }

    header > h1{
        margin-top: 20px;
        margin-left: 30px;
        font-size: 1.3em;
    }

    menu > a{
        font-size: 1.2em;
        padding: 10px;
    }

    .home{
        max-width: 100%;
        padding: 50px;
    }

    .home > h1{
        font-size: 3em;
    }

    main{
        padding-bottom: 30px;
    }

    main h2{
        margin-top: 10px;
        font-size: 2.2em;
    }

    main > strong > .pc{
        text-align: center;
        font-size: 1.2em;
    }

    main a{
        width: 25%;
        margin-left: 38%;
    }

    main > picture > img{
       display: none;
    }

    #tec > h2{
        font-size: 2.7em;
    }

    #tec > div{
        margin-left: 220px;
        margin-bottom: 50px;
    }

    #tec > #js{
        width: 13%;
    }
    
    #tec > #html{
        width: 13%;
    }
    
    #tec > #css{
        width: 13%;
    }

    #portfolio > figure{
        width: 30%;
    }

    #imc{
        width: 30%;
        margin-left: 460px;
    }

    #portfolio > div > #linkimc{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-family: 'poppins', sans-serif;
        width: 26%;
        padding: 15px;
        margin-left: 483px;
        margin-bottom: 20px;
        margin-top: -4px;
        text-decoration: none;
        background-color: rgb(11, 57, 104);
        color: #ffffff;
        border-radius: 0px 0px 10px 10px;
    }

    #linkscont > a{
        width: 20%;
        margin-left: 40%;
    }
}