
@media screen and (min-width: 768px) and (max-width: 992px){

    body{
        background-color: rgba(211, 211, 211, 0.445);
    }

    header{
        height: 57px;
    }

    header > h1{
        margin-left: 20px;
    }

    #burguer{
        display: none;
    }

    menu{
        display: block;
        margin-top: -54px;
    }

    #homea{
        display: inline;
        float: right;
        font-size: 1.1em;
        margin-top: 2px;
        margin-right: 330px;
    }

    #sobrea{
        display: inline;
        float: right;
        font-size: 1.1em;
        margin-right: -230px;
        margin-top: -16px;
    }

    #projetosa{
        display: inline;
        float: right;
        font-size: 1.1em;
        margin-right: -350px;
        margin-top: -33px;
    }

    main{
        background-color: #ffffff;
        width: 80%;
        max-height: 1100px;
        min-width: 300px;
        max-width: 1000px;
        padding: 10px;
        padding-bottom: 30px;
        margin: auto;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px; 
        box-shadow: 0px 0px 4px #00000050;
    }

    main h2{
        margin-top: 10px;
    }
    main p{
        font-size: 1.050em;
    }

    .sobre > picture > img{    
        width: 70% ;
        height: 60%;
    }

    .sobre > a{
        max-width: 540px;
    }

    aside{
        height: 200px;
        margin-top: 40px;
        padding: 20px;
        padding-bottom: 30px;
    }
    aside > h2{
        font-size: 1.8em;
        margin-right:-20px;
        margin-left: -20px;
        margin-top: -20px;
        padding: 10px;
    }

    aside > p, nav{
        margin-left: -10px;
    }
    
    .portfolio{
        width: 50%;
        margin-top: 100px;
        border-radius: 8px;
    }

    #fp{
        display: none;
    }
    
    #fh{
        margin-top: 0px;
    }
}
    @media screen and (min-width: 992px) and (max-width: 1920px){

    body{
        background-color: rgba(211, 211, 211, 0.445);
    }

    header{
        height: 70px;
    }
    #burguer{
        display: none;
        font-size: 2.1em;
        margin-top: -27px;
    }

    #rowh{
        display: none;
    }

    menu{
        display: block;
    }

    #homea{
        display: inline;
        float: right;
        font-size: 1.1em;
        margin-top: -55px;
        margin-right: 400px;
    }

    #sobrea{
        display: inline;
        float: right;
        font-size: 1.1em;
        margin-right: 222px;
        margin-top: -73px;
    }

    #projetosa{
        display: inline;
        float: right;
        font-size: 1.1em;
        margin-right: 90px;
        margin-top: -90px;
    }

    header > h1{
        margin-top: 20px;
        margin-left: 30px;
        font-size: 1.3em;
    }

    menu > a{
        font-size: 1.2em;
        padding: 10px;
    }

    .home{
        max-width: 100%;
    }

    .home > h1{
        padding-top: 300px;
        font-size: 4em;
    }

    main{
        background-color: #ffffff;
        width: 100vw;
        max-height: 1280px;
        min-width: 300px;
        max-width: 950px;
        padding: 10px;
        margin: auto;
        padding-bottom: 30px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px; 
        box-shadow: 0px 0px 4px #00000050;
    }

    main h2{
        margin-top: 10px;
        font-size: 1.8em;
    }

    main p{
        margin-top: 20px;
        font-size: 1.1em;
        text-indent: 20px;
        text-align: justify;
    }

    main a{
        width: 25%;
    }

    main img{   
       display: flex;
       align-items: center;
       justify-content: center;
       width: 100%; 
    }

    aside{
        height: 200px;
        margin-top: 30px;
        padding: 20px;
        padding-bottom: 30px;
    }
    aside > h2{
        font-size: 1.8em;
        margin-right:-20px;
        margin-left: -20px;
        margin-top: -20px;
        padding: 10px;
    }

    aside > p, nav{
        text-indent: 0px;
        margin-left: -10px;
    }

    .portfolio{
        max-width: 45%;
        height: 650px;
        margin-top: 100px;
        border-radius: 8px;
    }

    .portfolio > .h2{
        margin-top: 3px;
    }

    .works > a{
        width: 40%;
    }

    #fp{
        display: none;
    }

    #fh{
        margin-top: 0px;
    }
}