@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Secular+One&family=Sriracha&display=swap');

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


header{
    background-color: white;
}

header > h1{
    color: rgb(105, 102, 102);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 8px;
    font-size: 1.2em;
    font-weight: lighter;
    padding: 10px;
}

#burguer{
    display: flex;
    float: right;
    padding: 4px;
    margin-top: -45px;
    margin-right: 20px;
    border-radius: 5px;
    font-size: 1.8em;
    color: gray;
    border: 1px solid lightgray;
    cursor: pointer;
}

#burguer:hover{
    background-color: lightgray;
}
hr{
    margin-top: 6px;
}
menu > a{
    display: block;
    color: rgb(105, 102, 102);
    margin: 17px;
    text-decoration: none;
}

menu > a:hover{
    color: black;
}

main{
    background-image: url('../imagens/teste2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 60vh;
}
.home > h1{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2.4em;
    color: #000000;
    font-weight: bold;
    padding-top: 150px;
}

.home > p{
    text-align: center;
    font-size: 1.3em;
    margin-top: 8px;
}

.sobre > img{
    margin-top: 50px;
    margin-left: 28px;
    width: 700px;
}

.sobre h2{
    text-align: center;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}
.sobre p{
    text-align: center;
    margin-top: 10px;
}

.portfolio{
    text-align: center;
    padding-top: 10px;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    color: #ffffff;
    background-color: rgba(52, 163, 214, 0.342);
}

.contato {
    background-image: url('../imagens/pexels-dlxmediahu-11901223.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 50vh;
}

.info{
    background-color: #ffffffe1;
    width: 500px;
    height: 170px;
    margin-left: 15px;
    border-radius: 7px;
    padding: 10px;
}

nav{
    margin-top: 30px;
}
.contato > .info > p{
    margin-top: 10px;
}
.gh{
    
    color: #ffffff;
    background-color: rgba(255, 166, 0, 0.705);
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
}

.gh:hover{
    background-color: rgba(255, 166, 0, 0.795);
}

.lk{
    color: #ffffff;
    background-color: rgba(7, 156, 241, 0.705);
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
}

.lk:hover{
    background-color: rgba(7, 156, 241, 0.795);
}

.inst{
    color: #ffffff;
    background-color: rgba(128, 0, 128, 0.705);
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
}

.inst:hover{
    background-color: rgba(128, 0, 128, 0.795);
}