@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Secular+One&family=Sriracha&display=swap');

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header{
    background-color: #ffffff;
    overflow: hidden;
    position: sticky;
    top: -1px;
}

header > h1{
    color: rgb(105, 102, 102);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-top: 8px;
    margin-bottom: -10px;
    font-size: 1.2em;
    font-weight: lighter;
    padding: 2px;
}

#burguer{
    display: flex;
    float: right;
    padding: 4px;
    margin-top: -20px;
    margin-right: 20px;
    border-radius: 5px;
    font-size: 1.8em;
    color: gray;
    border: 1px solid lightgray;
    cursor: pointer;
}

#burguer:hover{
    background-color: lightgray;
    transition-duration: 0.5s;
}
hr{
    margin-top: 6px;
}

menu > a{
    display: block;
    color: rgb(105, 102, 102);
    padding: 8px;
    margin: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}

menu > a:hover{
    color: black;
}

main{
    max-width: 1000px;
    background-image: url('../imagens/pexels-cottonbro-studio-3944378.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    
}

.home > h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    color: #000000;
    font-weight: bold;
    padding-top: 50%;
}

.home > p{
    text-align: center;
    font-size: 1.4em;
    margin-top: 20px;
}

.sobre > img{
    margin-top: 50px;
    margin-left: 28px;
    width: 700px;
}

.sobre h2{
    padding: 5px;
    text-align: center;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}

.sobre .pc{
    text-indent: 0px;
    margin: 10px;
}

.sobre > a{
    display: flex;
    width: 96%;
    text-decoration: none;
    margin: 10px;
    margin-top: 20px;
    color: white;
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0.719);
    padding: 10px;
    border-radius: 8px;
}

.sobre > a:hover{
    background-color: rgba(255, 0, 0, 0.89);
}

.sobre > p{
    padding: 10px;
    text-indent: 10px;
    text-align: justify;
    margin-top: 40px;
    margin-bottom: 20px;
}

.sobre > picture > img{
    margin-top: 30px;
    padding: 10px;
    width: 100%;
}

.portfolio{
    background-color:#B69E82;
    text-align: center;
    padding-top: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
    height: 50vh;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    color: #ffffff;
}

.portfolio > h2, hr{
    font-size: 1.8em;
    margin-top: 30px;
}

aside {
    width: 100%;
    height: 400px;
}

aside > h2{
    font-weight: bold;
    margin-top: -30px;
}
aside > hr{
    margin-top: -1px;
}

aside{
    border: 1px solid rgba(0, 0, 0, 0.301);
    margin-top: 150px;
    margin: 10px;
    background-color: #ffffffec;
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.308);
    min-width: 320px;
    max-width: 800px;
    height: 192px;
    border-radius: 7px;
    padding: 10px;
}

nav{
    margin-top: -55px;
    margin-left: 20px;
}
aside > p{
    margin-top: 10px;
}
.gh{    
    color: #ffffff;
    background-color: rgba(255, 166, 0, 0.705);
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
}

.gh:hover{
    background-color: rgba(255, 166, 0, 0.795);
}

.lk{
    color: #ffffff;
    background-color: rgba(7, 156, 241, 0.705);
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
}

.lk:hover{
    background-color: rgba(7, 156, 241, 0.795);
}

.inst{
    color: #ffffff;
    background-color: rgba(128, 0, 128, 0.705);
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
}

.inst:hover{
    background-color: rgba(128, 0, 128, 0.795);
}

footer {
    margin-top: 10px;
    padding: 15px;
    text-align: center;
  }