@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow-x: hidden;
}

header{
    width: 100%;
    background-color: #1F3B5E;
    overflow: hidden;
    position: fixed;
    z-index: 1000;
}

header > h1{
    color: #ffffffd0;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-top: 8px;
    margin-bottom: -10px;
    font-size: 1.3em;
    font-weight: lighter;
    padding: 2px;
}

#burguer{
    display: flex;
    float: right;
    padding: 4px;
    margin-top: -20px;
    margin-right: 20px;
    border-radius: 5px;
    font-size: 1.5em;
    color: #ffffff;
    border: 1px solid lightgray;
    cursor: pointer;
    width: 1.5em;
}

#burguer:hover{
    background-color: #4D92EB;
    transition: 0.5s;
}

hr{
   margin-top: 25px;
}

menu{
    display: none;
    transition: .5s;
}

menu > ul > li > a{
    display: block;
    color: #ffffffd0;
    font-size: 1.1em;
    padding: 8px;
    margin: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    transition-duration: 0.5s;
}

menu > ul > li > a:hover{
    color: #4D92EB;
    text-decoration: underline;
}

.home{
    background-color: rgba(0, 0, 0, 0.781);
    background-image: url('../imagens/pexels-neo-2653362.jpg');
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
}

.home > h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 2.5em;
    color: #ffffff;
    padding-top: 70px;
}

.home > p{
    color: #ffffffd0;
    text-align: center;
    font-size: 1.4em;
    margin-top: 20px;
}

main{
    background-color: black;
    width: 100%;
}

main > h2{
    color: #ffffff;
    font-size: 2.4em;
    padding: 7px;
    text-align: center;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
}

main > p{
    color: #ffffff;
    font-size: 1.2em;
    padding: 10px;
    width: 100%;
    text-indent: 10px;
    text-align: justify;
    line-height: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
}

#strongads, #strongm{
    color: #4D92EB;
}

main .pc{
    color: #ffffff;
    text-indent: 0px;
    margin: 10px;
}

main > a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    text-decoration: none;
    margin: 10px;
    margin-top: 20px;
    color: white;
    font-family: 'poppins', sans-serif;
    font-size: 1.1em;
    background-color: #4D92EB;
    padding: 10px;
    border-radius: 8px;
    transition-duration: 0.7s;
}

main > a:hover{
    background-color: #1F3B5E;
    transition-duration: 0.3s;
}

main > picture > img{
    margin-top: 30px;
    padding: 10px;
    width: 100%;
}

#tec{
    width: 100%;
    max-width: 550px;
    text-align: center;
    margin: auto;
}

#tec > h2{
    font-size: 2.4em;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#tec > div{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    transition: .5s;
    margin-left: 35px;
}

#tec > div > p{
    text-align: center;
    font-family: 'poppins';
    padding: 8px;
    width: 100%;
}

#tec > div > img{
    width: 100%;
}

#tec > #js{
    width: 40%;
    margin-top: 30px;
}

#tec > #html{
    width: 40%;
}

#tec > #css{
    width: 40%;
    margin-top: 50px;
    align-items: center;
}

div > h2{
    font-size: 2.4em;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

#portfolio figure{
    width: 80%;
    margin: auto;
}

#portfolio > figure > img{
    width: 100%;
}

#portfolio > figure > #landing-page, #telalogin, #tabuada{
    border-radius: 10px 10px 0px 0px;
    margin-top: 20px;
    width: 100%;
}

#portfolio > figure > #landing-page{
    border: 1px solid rgba(0, 0, 0, 0.062);
}

#portfolio > div > #imc{
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 10.2%;
    width: 80%;
}

#portfolio > figure > a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'poppins', sans-serif;
    padding: 15px;
    margin-top: -4px;
    text-decoration: none;
    background-color: rgb(11, 57, 104);
    color: #ffffff;
    border-radius: 0px 0px 10px 10px;
}

#portfolio > figure > a:hover{
    transition: 0.5s;
    background-color: #366db4;
}

#portfolio > div > #linkimc{
    display: block;
    position: absolute;
    left: 14.7%;
    text-align: center;
    font-family:'poppins', sans-serif;
    width: 69.6%;
    padding: 15px;
    margin-top: -55px;
    text-decoration: none;
    background-color: rgb(11, 57, 104);
    color: #ffffff;
    border-radius: 0px 0px 10px 10px;
}

#portfolio > div > #linkimc:hover{
    transition: 0.5s;
    background-color: #366db4;
}

footer{
    background-color: #1F3B5E;
    margin-top: 30px;
}

footer > h2{
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 2.2em;
}

footer > #areacont > p{
    color: #ffffffda;
    font-size: 1.1em;
    text-align: center;
    margin-top: 30px;
}

#strongemail{
    color: #ffffff;
}

#linkscont a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'poppins', sans-serif;
    width: 40%;
    margin-top: 20px;
    margin-left: 30%;
    text-decoration: none;
    padding: 10px;
    border-radius: 7px;
    overflow: hidden;
}

#linkscont > #git{
    background-color: purple;
    color: #ffffff;
}

#linkscont > #git:hover{
    background-color: rgba(128, 0, 128, 0.753);
    transition: 0.5s;
}

#linkscont > #linkedin{
    background-color: #0A66C2;
    color: #ffffff;
}

#linkscont > #linkedin:hover{
    background-color: #488ed4ea;
    transition: 0.5s;
}